body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links-content {
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
  flex-wrap: wrap;
  padding: 20px;
  text-decoration: none;
  /* border: 1px solid black; */
}

.link1 {
  text-decoration: none;
  font-size: x-large;
  font-weight: 300;
  color: #777676 ;
  text-shadow: black;
}